.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build
CustomWatchface.iml
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/play_services_wearable_5_0_77.xml
.idea/libraries/support_annotations_20_0_0.xml
.idea/libraries/support_v13_20_0_0.xml
.idea/libraries/support_v4_19_1_0.xml
.idea/libraries/support_v4_20_0_0.xml
.idea/libraries/wearable_1_0_0.xml
.idea/scopes/scope_settings.xml
